if SHIELD_KEEBMROW_RIGHT

config ZMK_KEYBOARD_NAME
    default "Keebmrow"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KEEBMROW_LEFT || SHIELD_KEEBMROW_RIGHT

config ZMK_SPLIT
    default y

endif
